# dependencies
node_modules

# next
.next
out

# env
.env
.env.local

# sanity hosted build outputs (should not be committed)
dist
.sanity

# TypeScript build info
tsconfig.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
